nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: transparent;
    z-index: 100;
    background-color:#081b29;
    height: 20px;
    border-bottom: 2px solid black;
}
.navbar-brand{
    color: white;
    font-size: 20px;
    margin-left: -60px;
    font-weight: bold;
}
nav .nav-link{
    color: white;
    font-size: 15px;    
}
nav .nav-link:hover{
    color: #00abf0;
}


@media (max-width:700px) {
    .navbar-brand , button {
        margin-left: 5px;
        margin-top: -20px;
    }
    


}


 

