<section class="about" id="about">
    <div class="about-content">
        <h1 class="heading">About <span>me!</span></h1>
        <div class="about-img">
            <img src="assets/images/about2.png" alt="">
            <div class="circle-spin"></div>
        </div>
        <h2 class="text-typing-about ">Software developer</h2>
        <div class="text-about-content">
            <p>I’m an Aspiring Software Developer with a focus on building responsive,
                 dynamic web applications. Skilled in Angular, TypeScript, JavaScript, Java  and RESTful APIs, I create clean, scalable code and seamless user experiences. Passionate about staying up-to-date with the latest tech trends,
                 I thrive on solving challenges and delivering high-quality solutions.</p>
        </div>
    </div>
 </section>
