<section class="home" id="home">
    <div class="home-content">
        <h1>Hi I'm Jahir Hussain</h1>
        <h2>Software Developer</h2>
        <div class="btn-group">
            <button> <a href="https://drive.google.com/file/d/1JKuNJZ7W9rF-XfFTABd6CGJ6TqKUKOP9/view?usp=drivesdk">View Resume</a></button>
        </div>

        <div class="social-media">
            <a href="https://www.linkedin.com/in/jahir2003/"><i class="fa-brands fa-linkedin-in" ></i></a>
            <a href="https://github.com/Jahirazi"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <div class="image-content">
        <img src="assets/images/about.png" alt="img">
    </div>
</section>